<a href="https://colab.research.google.com/github/0xJCarlos/TweetBot/blob/main/002_Exploratory_Data_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Exploratory Data Analysis
In this step we will explore the data from the Tweets we got in the previous step.

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("https://media.githubusercontent.com/media/0xJCarlos/TweetBot/main/tweets_raw.csv")

In [3]:
df

       Unnamed: 0  ... quoted_status
0               0  ...           NaN
1               1  ...           NaN
2               2  ...           NaN
3               3  ...           NaN
4               4  ...           NaN
...           ...  ...           ...
29995       29995  ...           NaN
29996       29996  ...           NaN
29997       29997  ...           NaN
29998       29998  ...           NaN
29999       29999  ...           NaN

[30000 rows x 32 columns]